h1 {
  color: rgba(48, 48, 177, 0.301);
}
.titre {
  color: red;
}

#titre-principal {
  color: green;
}
p {
  font-size: 16px;
  background-color: azure;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 30px;
  text-align: justify;
}
p span {
  font-size: 26px;
  font-weight: bolder;
  color: lightgreen;
  font-style: italic;
  background-color: black;
}
